<div id="users">
  <% @users.each do |user| %>
    <div class="user">
      <span class="email"><%= user.email %></span>
      <%= content_tag(:span, user.name) if user.name %>
    </div>
  <% end %>

  <%= will_paginate @users %>
</div>