<% content_for :head do %>
  <%= stylesheet_link_tag("citygate/application") %>
<% end %>


<div id="container" class="container">
  <header>
    <h1>NORMAL PANEL</h1>
    <nav>
      <ul class="hmenu">
        <%= render 'shared/navigation' %>
      </ul>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <% end %>
  </header>
  <div id="main" role="main">
    <%= yield %>
  </div>
  <footer></footer>
</div>